* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font_open_sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
    font-size: 45px;
    color:black;
    font-weight: 900;
}
.btn {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.logo-text {
    color: #FD6E0A;
}

/* main style */

header {
    background-color: #FFF8F3;
    background-image: url("/images/developer.png"),url("/images/header_bg.png");
    background-position: left top,bottom right;
    background-repeat: no-repeat;
}

nav {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width:71%;
    max-width: 1140px;
    margin: 0px auto;
    align-items: center;
}
nav .menu {
    display: flex;
    gap: 18px 51px;
    list-style-type:none;
    align-items: center;
}
nav .menu a {
    color: #474747;
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
}


#banner {
    margin: 47px 38px 0px 361px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content {
    max-width: 585px;
}
.banner-content h2 {
    font-size: 45px;
    color: #474747;
    font-weight: 500;
    margin-bottom: 5px;
}
.banner-content h1 {
    font-size: 85px;
    color: #000;
    font-weight: 900;
    margin-bottom: 20px;
}
.banner-content p {
    font-size: 18px;
    color: #757575;
    font-weight: normal;
    margin-bottom: 30px;
}
.banner-img img {
    vertical-align: middle;
    max-width: 585px;
}